src/utils/settings_sql.json
src/utils/api_token.json

data/Netflix_raw
data/OMDb_Netflix
data/data.zip

data/BASE_ORIGINAL.csv
data/EXPANSE_ORIGINAL.csv
data/titles.tsv
data/WORD_STATS_ORIGINAL.csv
data/Net_title_ratings.csv